<footer class="bg-light text-center text-lg-start mt-5">
    <div class="row">
        <div class="col-4 text-center p-3">
            © 2021 Copyright : <a class="fw-bold" href="https://ameli.fr/">CPAM de l'Indre</a>
        </div>
        <div class="col-4 text-center p-3">
            <a href="#">Mentions légales</a>
        </div>
        <div class="col-4 text-center p-3">
            <a href="mailto:sami.gafsi@assurance-maladie.fr">Contacter l'administrateur</a>
        </div>
    </div>


</footer>